.card,.card-2{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-4,.hover-shadow:hover{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.spin{
  animation:spin 2s infinite linear;
}
@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(359deg);
  }
}
.animate-fading{
  animation:fading 10s infinite;
}
@keyframes fading{
  0%{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
.animate-opacity{
  animation:opac 0.8s;
}
@keyframes opac{
  from{
    opacity:0;
  } to{
    opacity:1
  }
}
.animate-top{
  position:relative;
  animation:animatetop 0.4s;
}
@keyframes animatetop{
  from{
    top:-300px;
    opacity:0;
  } to{
    top:0;
    opacity:1;
  }
}
.animate-left{
  position:relative;
  animation:animateleft 0.4s;
}
@keyframes animateleft{
  from{
    left:-300px;
    opacity:0;
  } to{
    left:0;
    opacity:1;
  }
}
.animate-right{
  position:relative;
  animation:animateright 0.4s;
}
@keyframes animateright{
  from{
    right:-300px;
    opacity:0
  } to{
    right:0;
    opacity:1;
  }
}
.animate-bottom{
  position:relative;
  animation:animatebottom 0.4s;
}
@keyframes animatebottom{
  from{
    bottom:-300px;
    opacity:0;
  } to{
    bottom:0;
    opacity:1;
  }
}
.animate-zoom {
  animation:animatezoom 0.6s;
}
@keyframes animatezoom{
  from{
    transform:scale(0);
  } to{
    transform:scale(1);
  }
}
.animate-input{
  transition:width 0.4s ease-in-out;
}
.animate-input:focus{
  width:100%!important;
}
.opacity,.hover-opacity:hover{
  opacity:0.60;
}
.opacity-off,.hover-opacity-off:hover{
  opacity:1;
}
.opacity-max{
  opacity:0.25;
}
.opacity-min{
  opacity:0.75;
}
.greyscale-max,.grayscale-max,.hover-greyscale:hover,.hover-grayscale:hover{
  filter:grayscale(100%);
}
.greyscale,.grayscale{
  filter:grayscale(75%);
}
.greyscale-min,.grayscale-min{
  filter:grayscale(50%);
}
.sepia{
  filter:sepia(75%);
}
.sepia-max,.hover-sepia:hover{
  filter:sepia(100%);
}
.sepia-min{
  filter:sepia(50%);
}
.tiny{
  font-size:10px!important;
}
.small{
  font-size:12px!important;
}
.medium{
  font-size:15px!important;
}
.large{
  font-size:18px!important;
}
.xlarge{
  font-size:24px!important;
}
.xxlarge{
  font-size:36px!important;
}
.xxxlarge{
  font-size:48px!important;
}
.jumbo{
  font-size:64px!important;
}
.left-align{
  text-align:left!important;
}
.right-align{
  text-align:right!important;
}
.justify{
  text-align:justify!important;
}
.center{
  text-align:center!important;
}
.border-0{
  border:0!important;
}
.border{
  border:1px solid #ccc!important;
}
.border-top{
  border-top:1px solid #ccc!important;
}
.border-bottom{
  border-bottom:1px solid #ccc!important;
}
.border-left{
  border-left:1px solid #ccc!important;
}
.border-right{
  border-right:1px solid #ccc!important;
}
.topbar{
  border-top:6px solid #ccc!important;
}
.bottombar{
  border-bottom:6px solid #ccc!important;
}
.leftbar{
  border-left:6px solid #ccc!important;
}
.rightbar{
  border-right:6px solid #ccc!important;
}
.section,.code{
  margin-top:16px!important;
  margin-bottom:16px!important;
}
.margin{
  margin:16px!important;
}
.margin-top{
  margin-top:16px!important;
}
.margin-bottom{
  margin-bottom:16px!important;
}
.margin-left{
  margin-left:16px!important;
}
.margin-right{
  margin-right:16px!important;
}
.padding-small{
  padding:4px 8px!important;
}
.padding{
  padding:8px 16px!important;
}
.padding-large{
  padding:12px 24px!important;
}
.padding-16{
  padding-top:16px!important;
  padding-bottom:16px!important;
}
.padding-24{
  padding-top:24px!important;
  padding-bottom:24px!important;
}
.padding-32{
  padding-top:32px!important;
  padding-bottom:32px!important;
}
.padding-48{
  padding-top:48px!important;
  padding-bottom:48px!important;
}
.padding-64{
  padding-top:64px!important;
  padding-bottom:64px!important;
}
.padding-top-64{
  padding-top:64px!important;
}
.padding-top-48{
  padding-top:48px!important;
}
.padding-top-32{
  padding-top:32px!important;
}
.padding-top-24{
  padding-top:24px!important;
}
.left{
  float:left!important;
}
.right{
  float:right!important;
}
.button:hover{
  color:#000!important;
  background-color:#ccc!important;
}
.transparent,.hover-none:hover{
  background-color:transparent!important;
}
.hover-none:hover{
  box-shadow:none!important;
}


/* Colors */
.amber,.hover-amber:hover{
  color:#000!important;
  background-color:#ffc107!important;
}
.aqua,.hover-aqua:hover{
  color:#000!important;
  background-color:#00ffff!important;
}
.blue,.hover-blue:hover{
  color:#fff!important;
  background-color:#2196F3!important;
}
.light-blue,.hover-light-blue:hover{
  color:#000!important;
  background-color:#87CEEB!important;
}
.brown,.hover-brown:hover{
  color:#fff!important;
  background-color:#795548!important;
}
.cyan,.hover-cyan:hover{
  color:#000!important;
  background-color:#00bcd4!important;;
}
.blue-grey,.hover-blue-grey:hover,.blue-gray,.hover-blue-gray:hover{
  color:#fff!important;
  background-color:#607d8b!important;
}
.green,.hover-green:hover{
  color:#fff!important;
  background-color:#4CAF50!important;
}
.light-green,.hover-light-green:hover{
  color:#000!important;
  background-color:#8bc34a!important;
}
.indigo,.hover-indigo:hover{
  color:#fff!important;
  background-color:#3f51b5!important;
}
.khaki,.hover-khaki:hover{
  color:#000!important;
  background-color:#f0e68c!important;
}
.lime,.hover-lime:hover{
  color:#000!important;
  background-color:#cddc39!important;
}
.orange,.hover-orange:hover{
  color:#000!important;
  background-color:#ff9800!important;
}
.deep-orange,.hover-deep-orange:hover{
  color:#fff!important;
  background-color:#ff5722!important;
}
.pink,.hover-pink:hover{
  color:#fff!important;
  background-color:#e91e63!important;
}
.purple,.hover-purple:hover{
  color:#fff!important;
  background-color:#9c27b0!important;
}
.deep-purple,.hover-deep-purple:hover{
  color:#fff!important;
  background-color:#673ab7!important;}
.red,.hover-red:hover{
  color:#fff!important;
  background-color:#f44336!important;
}
.sand,.hover-sand:hover{
  color:#000!important;
  background-color:#fdf5e6!important;
}
.teal,.hover-teal:hover{
  color:#fff!important;
  background-color:#009688!important;
}
.yellow,.hover-yellow:hover{
  color:#000!important;
  background-color:#ffeb3b!important;
}
.white,.hover-white:hover{
  color:#000!important;
  background-color:#fff!important;
}
.black,.hover-black:hover{
  color:#fff!important;
  background-color:#000!important;
}
.brownB{
  background-color: #2e1303;
  color:#fff!important;
}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{
  color:#000!important;
  background-color:#cac8c8!important;
}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{
  color:#000!important;
  background-color:#f1f1f1!important;
}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
  color:#fff!important;
  background-color:#616161!important;
}
.pale-red,.hover-pale-red:hover{
  color:#000!important;
  background-color:#ffdddd!important;
}
.pale-green,.hover-pale-green:hover{
  color:#000!important;
  background-color:#ddffdd!important;
}
.pale-yellow,.hover-pale-yellow:hover{
  color:#000!important;
  background-color:#ffffcc!important;
}
.pale-blue,.hover-pale-blue:hover{
  color:#000!important;
  background-color:#ddffff!important;
}
.text-amber,.hover-text-amber:hover{
  color:#ffc107!important;
}
.text-aqua,.hover-text-aqua:hover{
  color:#00ffff!important;
}
.text-blue,.hover-text-blue:hover{
  color:#2196F3!important;
}
.text-light-blue,.hover-text-light-blue:hover{
  color:#87CEEB!important;
}
.text-brown,.hover-text-brown:hover{
  color:#795548!important;
}